body,html {
    background: #9AC5F4;
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    font-size: 2.4em;
    font-family:sans-serif;
    font-style: italic;
    color: rgb(15, 65, 65);
}


.contenedor {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.box-cont {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row: repeat(3,1fr);
    box-shadow: 0px 0px 15px rgb(30, 44, 31,0.5);
}

.box {
    height: 150px;
    width: 150px;
    background: #A7ECEE; 
}

.boxOn {
    background: #2c81a3;
}

.boxWin {
    background: rgb(0, 182, 238);
}

.boxLost {
    background: rgb(190, 66, 66);
}

.boxTime {
    background: #1f5758;
}

.boxPause {
    background: black;
}

.box:hover {
    cursor: pointer;
    opacity: 90%;
}

.boxOn:hover {
    cursor:grab;
}

.start {
    cursor: pointer;
    margin-top: 7px;
    padding: 5px;
    font-size: 1.7em;
    font-family: monospace;
    background: #A7ECEE;
    border-radius: 20px;
    border: 2px black solid;
    box-shadow: 1px 1px black;
}

.start:hover {
    background: rgba(60, 201, 69, 0.3);
}

.alerta {
    display: flex;
    justify-content: center;
    font-family: monospace;
    padding-bottom: 15px;
    font-size: 2em;
    color: #1f5758;
}


  
@media (max-width: 600px) {
    .titulo {
      font-size: 2.5em; 
    }

    .alerta {
        font-size: 2.5em;
    }

    .box-cont {
        grid-template-columns: repeat(3,1fr);
        grid-row: repeat(3,1fr);
    }
    
    .box {
        height: 165px;
        width: 165px;
        background: #A7ECEE; 
    }
}